/VEP/Shoshana's Code/ElectionVerifier/Election Verifier/nbproject/private/
/VEP/Shoshana's Code/ElectionVerifier/Election Verifier/build/
/VEP/vep/nbproject/private/
/VEP/vep/build/
/VEP/vep/dist/
/SP/Code/ScheduleProtoyper/nbproject/private/
/VEP/Shoshana's Code/ElectionVerifier/Election Verifier/dist/