.pane {
 -fx-background-color: #37392E;
 background-color: #37392E;
 -fx-font-family: "Times New Roman", Times, serif;
}

.box {
    -fx-background-color:#19647E;
    -fx-max-width: 1500;   
    max-width: 1500; 
}
#votingButtons {
    -fx-min-height: 50;
    -fx-max-height: 100;
    -fx-margin: 100;
    -fx-max-width: 500;
    -fx-min-width: 500;
}
#spoilingExplanation {
    -fx-background-color: #DDCECD;
    background-color: #DDCECD;
}
#header {
    -fx-color: #DDCECD;
}